In [1]:
import pandas as pd
import numpy as np

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)
# https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html

In [2]:
df1 = pd.read_csv('corpus_SexistContent.csv', header=None)
#         .drop(0, axis=1)\
#         .rename(columns={1: 'id'})
# no header to data
df2 = pd.read_csv('nonAnnotated_hydrated.csv', encoding = "ISO-8859-1")
#         .drop(0, axis=1)\
#         .rename(columns={1: 'tweet'})

display('df1', 'df2')

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

df1
                           0
0      327031890622164993\t0
1      330425562201993216\t0
2      326796299179548672\t0
3      334548844731826176\t0
4      332500824150392833\t0
...                      ...
12269  991769637506486274\t1
12270  991930025955004416\t1
12271  991937217789681664\t1
12272  991948109910507520\t1
12273  992014962582327296\t1

[12274 rows x 1 columns]

df2
      coordinates                      created_at hashtags media urls  \
0             NaN  Tue Dec 04 21:08:15 +0000 2012      NaN   NaN  NaN
1             NaN  Tue Dec 04 21:10:14 +0000 2012      NaN   NaN  NaN
2             NaN  Mon Mar 08 08:32:18 +0000 2010      NaN   NaN  NaN
3             NaN  Sun Nov 25 21:50:29 +0000 2012      NaN   NaN  NaN
4             NaN  Fri Nov 23 16:38:39 +0000 2012      NaN   NaN  NaN
...           ...                             ...      ...   ...  ...
67380         NaN  Thu May 03 22:38:23 +0000 2018      NaN   NaN  NaN
67381         NaN  Fri May 04 08:57:25 +0000 2018      NaN   NaN  NaN
67382         NaN  Fri May 04 09:07:34 +0000 2018      NaN   NaN  NaN
67383         NaN  Thu May 03 22:21:07 +0000 2018      NaN   NaN  NaN
67384         NaN  Fri May 04 05:00:08 +0000 2018      NaN   NaN  NaN

       favorite_count                  id in_reply_to_screen_name  \
0                   0  276070435551068160                     NaN
1                   0  276070936040574977                     NaN
2                   0         10162393410                     NaN
3                   0  272819573848432640            Aminelkhatmi
4                   0  272016322022494208         CentreHubertine
...               ...                 ...                     ...
67380              15  992171538815340544                     NaN
67381               0  992327327102234624         Adpourlsintimes
67382               2  992329879189409792             MadamLatifi
67383              19  992167193843503104             Iranhimovic
67384               0  992267608824004609          saraaah_lapute

       in_reply_to_status_id  in_reply_to_user_id  ... user_followers_count  \
0                        NaN                  NaN  ...                  481
1                        NaN                  NaN  ...                  481
2                        NaN                  NaN  ...                33387
3               2.728158e+17         4.733651e+07  ...                 1429
4               2.713111e+17         2.250564e+08  ...                 4830
...                      ...                  ...  ...                  ...
67380                    NaN                  NaN  ...                 4865
67381           9.919876e+17         2.236051e+09  ...                  149
67382           9.923286e+17         7.116321e+17  ...                  285
67383           9.921665e+17         1.477495e+09  ...                 1217
67384           9.916011e+17         8.710667e+17  ...                   15

      user_friends_count user_listed_count   user_location  \
0                    165                 0             NaN
1                    165                 0             NaN
2                   1138               899           Paris
3                   1904               182
4                   5313               561          France
...                  ...               ...             ...
67380                765                20             NaN
67381                596                 1        belgique
67382                 78                 0             NaN
67383                571                 7            1998
67384                116                 0  Denain, France

                                               user_name  user_screen_name  \
0                                                   ð«         mayesboug
1                                                   ð«         mayesboug
2                                             Aude Baron         AudeBaron
3                                           Katia Langer            MW1222
4      FranÃ§oise ðªðº#europÃ©ennes2024 ðªðº#...    FPasquisDumont
...                                                  ...               ...
67380                                  GUERRIER ALGERIEN           zaakk69
67381                                          pepet7387        Gilles7387
67382                                                fkd        ouardiafkd
67383                                          miss amor         theelotty
67384                                        Mopheuska59         Mopheuska

       user_statuses_count user_time_zone  \
0                    49851            NaN
1                    49851            NaN
2                    16482            NaN
3                   151783            NaN
4                   395947            NaN
...                    ...            ...
67380                34465            NaN
67381                 1497            NaN
67382                48521            NaN
67383               107566            NaN
67384                  591            NaN

                                       user_urls user_verified
0                     https://hellomyflat.fr/fr/         False
1                     https://hellomyflat.fr/fr/         False
2                        http://www.eurosport.fr          True
3                                            NaN         False
4          http://partiralaventure.over-blog.com         False
...                                          ...           ...
67380                                        NaN         False
67381                                        NaN         False
67382               https://youtu.be/CrfeTNUP-Jw         False
67383  https://www.instagram.com/princesa.lotty/         False
67384                                        NaN         False

[67385 rows x 35 columns]

In [3]:
# df1.rename(columns={"0": "id"}, inplace=True)
df1.columns = ["id"]
df1.columns
# rename w/ columns attribute

Index(['id'], dtype='object')

In [4]:
print(type(df1))

<class 'pandas.core.frame.DataFrame'>

In [5]:
# Split string column into two new columns
df1[['id', 'label']] = df1.id.str.split("\t", expand = True)
print(df1)

                       id label
0      327031890622164993     0
1      330425562201993216     0
2      326796299179548672     0
3      334548844731826176     0
4      332500824150392833     0
...                   ...   ...
12269  991769637506486274     1
12270  991930025955004416     1
12271  991937217789681664     1
12272  991948109910507520     1
12273  992014962582327296     1

[12274 rows x 2 columns]

In [18]:
df1.to_csv('SexistColumns.csv')
# export dataframe to new csv file

In [6]:
df3 = pd.read_csv('SexistColumns.csv')
df3

       Unnamed: 0                  id  label
0               0  327031890622164993      0
1               1  330425562201993216      0
2               2  326796299179548672      0
3               3  334548844731826176      0
4               4  332500824150392833      0
...           ...                 ...    ...
12269       12269  991769637506486274      1
12270       12270  991930025955004416      1
12271       12271  991937217789681664      1
12272       12272  991948109910507520      1
12273       12273  992014962582327296      1

[12274 rows x 3 columns]

In [7]:
df4 = pd.merge(df2, df3)
df4

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_listed_count,user_location,user_name,user_screen_name,user_statuses_count,user_time_zone,user_urls,user_verified,Unnamed: 0,label
0,NaN,Tue Jan 09 18:13:24 +0000 2018,BalanceTonPorc MoiAussi,NaN,http://bit.ly/2CV0ELD,14,950792636335616000,NaN,NaN,NaN,...,3654,"MontrÃ©al, QuÃ©bec, Canada",Le Devoir,LeDevoir,166143,NaN,http://www.ledevoir.com,True,545,0

In [9]:
df5 = df4.drop(df4.iloc[:, 2:33], inplace=True, axis=1)
df5

In [11]:
print(df5)

None

In [33]:
df4 = pd.merge(df2, df3).drop(['coordinates', 'created_at', 'hashtags', 'urls', 'favorite_count', 'in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_user_id', 'lang', 'user_listed_count', 'user_name', 'user_screen_name', 'user_statuses_count', 'user_time_zone', 'user_urls', 'user_verified', 'place', 'media', 'possibly_sensitive', 'quote_id', 'retweet_count', 'retweet_id', 'retweet_screen_name', 'source', 'user_created_at', 'user_id', 'user_default_profile_image', 'user_description', 'user_favourites_count', 'user_followers_count', 'user_friends_count'], axis=1)
df4

,id,text,tweet_url,user_location,Unnamed: 0,label
0,950792636335616000,Une centaine de femmes franÃ§aises dÃ©noncent ...,https://twitter.com/LeDevoir/status/9507926363...,"MontrÃ©al, QuÃ©bec, Canada",545,0

In [35]:
df4 = pd.merge(df2, df3)
df4

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_listed_count,user_location,user_name,user_screen_name,user_statuses_count,user_time_zone,user_urls,user_verified,Unnamed: 0,label
0,NaN,Tue Jan 09 18:13:24 +0000 2018,BalanceTonPorc MoiAussi,NaN,http://bit.ly/2CV0ELD,14,950792636335616000,NaN,NaN,NaN,...,3654,"MontrÃ©al, QuÃ©bec, Canada",Le Devoir,LeDevoir,166143,NaN,http://www.ledevoir.com,True,545,0

In [31]:
df4.to_csv('hydratedSexist.csv')
# export dataframe to new csv file

In [34]:
df4 = pd.merge(df2, df3).drop(df.iloc[:, 2:33], inplace=True, axis=1)

NameError: name 'df' is not defined

In [25]:
df5 = pd.merge(df2, df3, left_on="id", right_on="label").drop('Unnamed: 0', axis=1)
df5

Empty DataFrame
Columns: [coordinates, created_at, hashtags, media, urls, favorite_count, id_x, in_reply_to_screen_name, in_reply_to_status_id, in_reply_to_user_id, lang, place, possibly_sensitive, quote_id, retweet_count, retweet_id, retweet_screen_name, source, text, tweet_url, user_created_at, user_id, user_default_profile_image, user_description, user_favourites_count, user_followers_count, user_friends_count, user_listed_count, user_location, user_name, user_screen_name, user_statuses_count, user_time_zone, user_urls, user_verified, id_y, label]
Index: []

[0 rows x 37 columns]

In [ ]:
df3 = pd.concat(df2, df1)
df3

In [ ]:
# merging w/ same column name
display('df1', 'df2', "pd.merge(df1, df2, on='id')")

In [3]:
# merging w/ different column names
display('df1', 'df2', 'pd.merge(df1, df2, left_on="0", right_on="id")')

KeyError: '0'

KeyError: '0'

In [7]:
# split column https://sparkbyexamples.com/pandas/pandas-split-column/
# Split single column into two columns use '\t' delimiter
# df1[['id', 'label']] = df1.id.str.split("\t", expand = True)
# didn't work

ValueError: Columns must be same length as key